<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PolisPay {{.CoinLabel}} Explorer">
    <title>PolisPay {{.CoinLabel}} Explorer</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-polispay">
                <a class="navbar-brand" href="/" title="Home">
                    <div alt="PolisPay Logo" style="margin-top: 3px;">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1020.1 375.8" style="enable-background:new 0 0 1020.1 375.8;" xml:space="preserve">
                        <style type="text/css">
                            .st0{fill:#FFFFFF;}
                        </style>
                                                    <title>PolisPayLogo</title>
                                                    <path class="st0" d="M141.8,0C63.5,0,0,63.5,0,141.8c0,0,0,0,0,0v233.9l50.7-56.5V141.4c0-49.6,40.2-89.8,89.8-89.8
                            s89.8,40.2,89.8,89.8s-40.2,89.8-89.8,89.8c-10.5,0-21-1.9-30.9-5.5v54.1c76.2,17.9,152.6-29.4,170.5-105.7
                            C297.9,98,250.6,21.6,174.4,3.7C163.7,1.2,152.8,0,141.8,0z"/>
                                                    <path class="st0" d="M166.6,145.8c0-13.7-11.1-24.8-24.8-24.8S117,132.2,117,145.9c0,13.7,11.1,24.8,24.8,24.8
                            C155.5,170.7,166.6,159.6,166.6,145.8C166.6,145.8,166.6,145.8,166.6,145.8z"/>
                                                    <path class="st0" d="M419.4,167.9c0.1,7.7-1.4,15.4-4.2,22.6c-2.7,6.7-6.8,12.9-12,17.9c-5.3,5.1-11.5,9.1-18.4,11.7
                            c-15,5.7-31.6,5.7-46.6,0c-6.8-2.7-13-6.7-18.3-11.7c-5.2-5.1-9.3-11.2-12-17.9c-5.7-14.5-5.7-30.7,0-45.2c2.7-6.8,6.8-12.9,12-17.9
                            c5.3-5.1,11.5-9.1,18.3-11.7c15-5.7,31.6-5.7,46.6,0c6.8,2.7,13.1,6.6,18.4,11.7c5.2,5.1,9.3,11.2,12,17.9
                            C418,152.5,419.5,160.2,419.4,167.9z M361.6,200.3c9.6,0,17.2-3,22.9-9s8.6-13.8,8.6-23.4c0-9.6-2.9-17.3-8.6-23.4
                            c-5.7-6-13.4-9-22.9-9c-9.6,0-17.2,3-23,9s-8.7,13.8-8.7,23.4c0,9.6,2.9,17.4,8.7,23.4C344.4,197.3,352,200.3,361.6,200.3
                            L361.6,200.3z"/>
                                                    <path class="st0" d="M440.1,221.6V67.3H466v154.4H440.1z"/>
                                                    <path class="st0" d="M507.4,101.4c-9.4,0.1-17.1-7.5-17.2-17c0-0.1,0-0.1,0-0.2c-0.1-4.6,1.7-9.1,5-12.4c6.8-6.7,17.7-6.7,24.5,0
                            c3.2,3.3,5,7.8,4.9,12.4c0.1,4.6-1.7,8.9-4.9,12.2C516.5,99.7,512.1,101.5,507.4,101.4z M494.6,221.6V114.2h25.9v107.4H494.6z"/>
                                                    <path class="st0" d="M603.5,145.1c-0.3-3.3-2-6.3-4.8-8.1c-2.9-2-6.9-3-12-3c-5.8,0-10.1,1.2-12.9,3.5c-2.7,2.1-4.3,5.4-4.2,8.9
                            c-0.1,3,1.7,5.7,4.6,6.7c3.7,1.5,7.6,2.5,11.5,3c4.6,0.7,9.6,1.4,14.9,2.2c5.2,0.7,10.2,2.2,14.9,4.4c4.6,2.1,8.5,5.3,11.5,9.3
                            c3,4.1,4.6,9.8,4.6,17.2c0.1,9.9-4.4,19.2-12.2,25.3c-4.3,3.3-9.1,5.8-14.2,7.3c-6,1.8-12.3,2.7-18.6,2.6
                            c-6.3,0.1-12.5-0.8-18.5-2.6c-5.1-1.5-9.9-4-14.1-7.2c-3.8-2.9-6.9-6.6-9.1-10.9c-2.2-4.3-3.4-9.1-3.5-13.9h26.1
                            c0.1,3.5,1.9,6.8,4.9,8.7c3.1,2.2,7.7,3.3,13.8,3.3c7,0,11.9-1.2,14.9-3.5c2.9-2.1,4.6-5.5,4.5-9.1c0.1-3-1.7-5.7-4.6-6.6
                            c-3.7-1.4-7.6-2.4-11.5-2.9c-4.7-0.7-9.6-1.4-14.9-2.1c-5.1-0.7-10.2-2.1-14.9-4.2c-4.6-2.1-8.6-5.3-11.5-9.4
                            c-3-4.2-4.6-10.1-4.6-17.6c-0.1-4.8,1-9.6,3-14c2-4.3,5-8.1,8.6-11.1c4-3.3,8.6-5.7,13.5-7.3c5.7-1.8,11.7-2.7,17.7-2.6
                            c6-0.1,11.9,0.8,17.6,2.6c4.9,1.5,9.4,4,13.4,7.2c3.6,2.9,6.5,6.5,8.6,10.7c2,4.1,3.2,8.7,3.3,13.3L603.5,145.1z"/>
                                                    <path class="st0" d="M655.1,220.8V78.6h58c9.3,0,17.3,1.2,24,3.6c6.2,2.1,11.9,5.6,16.6,10.1c4.3,4.3,7.6,9.6,9.7,15.3
                            c4.2,12.5,4.2,26,0,38.5c-2,5.8-5.3,11-9.7,15.3c-4.7,4.6-10.4,8-16.6,10.1c-6.7,2.4-14.7,3.6-24,3.6h-30.2v45.7H655.1z
                             M713.6,149.5c9.3,0,15.7-2.1,19.4-6.4c3.6-4.3,5.4-9.7,5.4-16.2c0-6.4-1.8-11.7-5.4-16s-10.1-6.4-19.4-6.4h-30.6v45L713.6,149.5z"
                                                    />
                                                    <path class="st0" d="M892.7,220.8H869v-20.1h-0.4c-2.9,6.9-7.9,12.8-14.3,16.6c-6.7,4.1-14.6,6.2-23.7,6.2c-6.5,0-13-1.2-19.2-3.5
                            c-6.4-2.3-12.2-5.9-17.1-10.5c-5.2-5-9.3-11-12.2-17.6c-3.1-7-4.7-15.3-4.7-24.9c-0.1-7.7,1.4-15.4,4.2-22.6
                            c2.7-6.7,6.8-12.8,11.9-17.9c5.3-5.1,11.5-9.1,18.3-11.8c7.5-2.9,15.4-4.3,23.4-4.2c7.9-0.1,15.8,1.4,23.2,4.2
                            c6.8,2.6,13,6.5,18.2,11.6c5.1,5.2,9.1,11.3,11.7,18.1c2.9,7.5,4.4,15.5,4.2,23.6L892.7,220.8z M835.3,199.5c9.5,0,17.2-3,22.9-9
                            s8.6-13.8,8.6-23.4c0-9.6-2.9-17.4-8.6-23.4s-13.4-9-22.9-9c-9.6,0-17.2,3-23,9c-5.8,6-8.7,13.8-8.7,23.4c0,9.6,2.9,17.4,8.7,23.4
                            C818.1,196.5,825.8,199.5,835.3,199.5L835.3,199.5z"/>
                                                    <path class="st0" d="M994.2,205.1h-0.4c-3.1,5.3-7.5,9.6-12.8,12.6c-5.7,3.1-12.2,4.7-18.7,4.6c-6.1,0-12.2-1.1-18-3.1
                            c-5.8-2.1-11-5.4-15.4-9.7c-4.8-4.8-8.4-10.5-10.7-16.8c-2.7-6.9-4-15.1-4-24.7v-54.6h25.8V168c0,10.3,2.5,17.9,7.4,22.8
                            c4.9,4.9,11.5,7.4,19.8,7.4c8,0,14.5-2.5,19.6-7.6s7.6-12.6,7.6-22.6v-54.6h25.8v103.7c0,9.4-1.4,17.4-4.1,24
                            c-2.5,6.2-6.4,11.8-11.4,16.2c-5,4.3-10.8,7.4-17,9.2c-6.8,2-13.8,3-20.9,2.9c-6,0-11.9-0.7-17.7-2.2c-5.4-1.4-10.6-3.6-15.2-6.7
                            c-4.6-3.1-8.6-7-11.7-11.5c-3.4-5-5.8-10.6-7.1-16.5h25.8c4.2,9.7,12.8,14.6,25.9,14.6c8.8,0,15.7-2.3,20.4-6.9
                            c4.8-4.6,7.2-12.1,7.2-22.5V205.1z"/>
                        </svg>
                    </div>
                </a>
                <a class="navbar-brand" href="/">
                    {{.CoinLabel}} Explorer
                </a>
                <button class="navbar-toggler" type="button" onclick="if(document.getElementById('toggler').className.indexOf('show')>0){document.getElementById('toggler').className='navbar-collapse collapse'}else{document.getElementById('toggler').className='navbar-collapse show'}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="toggler">
                    {{- if .InternalExplorer -}}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form ml-md-auto">
                        <form id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction, address or xpub" focus="true">
                        </form>
                    </span>
                    {{- end -}}
                </div>
            </nav>
        </div>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer" class="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-polispay">
                <span class="navbar-nav">
                    <a class="nav-link" href="https://satoshilabs.com/" target="_blank" rel="noopener noreferrer">© 2020 SatoshiLabs. </a>
                </span>
                <span> Modified by </span>
                <span class="navbar-nav">
                    <a class="nav-link" href="https://kindynos.mx" target="_blank" rel="noopener noreferrer">Kindynos</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a href="/sendtx" class="nav-link">Send Transaction</a>
                </span>
            </nav>
        </div>
    </footer>
</body>

</html>
