<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PolisPay | {{.CoinLabel}} Explorer">
    <title>PolisPay | {{.CoinLabel}} Explorer</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-polispay">
                <a class="navbar-brand" href="/" title="Home">
                    <div style="margin-top: 3px;">
                     <img src="/static/assets/img/logo.png" width="100px" alt="PolisPay Logo" />
                    </div>
                </a>
                <a class="navbar-brand" href="/">
                    {{.CoinLabel}} Block Explorer
                </a>
                <button class="navbar-toggler" type="button" onclick="if(document.getElementById('toggler').className.indexOf('show')>0){document.getElementById('toggler').className='navbar-collapse collapse'}else{document.getElementById('toggler').className='navbar-collapse show'}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="toggler">
                    {{- if .InternalExplorer -}}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form ml-md-auto">
                        <form id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction, address or xpub" focus="true">
                        </form>
                    </span>
                    {{- end -}}
                </div>
            </nav>
        </div>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer" class="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-polispay">
                <span class="navbar-nav">
                    <a class="nav-link" href="https://satoshilabs.com/" target="_blank" rel="noopener noreferrer">© 2020 SatoshiLabs. </a>
                </span>
                <span> Modified by </span>
                <span class="navbar-nav">
                    <a class="nav-link" href="https://kindynos.mx" target="_blank" rel="noopener noreferrer">Kindynos</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a href="/sendtx" class="nav-link">Send Transaction</a>
                </span>
            </nav>
        </div>
    </footer>
</body>

</html>
